<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><form action="#" th:action="@{/employeeform}" th:object="${employee}" method="post">
    first_name:<input type="text" th:field="*{first_name}" /> <br />
    last_name: <input type="text" th:field="*{last_name}" /> <br />
    SSN:<input type="number" th:field="*{SSN}" /> <br/>
    DOB:<input type="text" th:filed="*{DOB}" /> <br />
    <input type="submit" value="Submit" />
</form> </body>
</html>